
h1 {
  text-align: center;
}

.reset-button {
  margin-left: 47%;
  margin-bottom: 15px;
}

.square {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  font-size: 4rem;
  text-align: center;
  justify-content: center;
  padding-top: 15px; 
}

.gameBoard {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  margin: 0 auto;
}
